@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
}
body{
    font-family: 'Poppins';
}

.menu{
    padding: 8px;
    background-color: black;
    display: block;
    position: fixed;
    width: 100vw;
    height: 4vh;
}
.btn-menu{
    margin-right: 8vw;
    background-color: black;
    color: whitesmoke;
    border: solid 1px black;
}
.navbar{
    padding-top: 8vh;

    position: absolute;
    top: 6.2vh;
    left: 0;
    width: 20vw;
    height: 20vh;
    background-color: black;
    color: white;
    transition: 160ms;
    cursor: pointer;
}
.navbar_ativo{
    left: -200vw;
    transition: 200ms;
}

a:visited{
    color: white;
}
.menu-itens{
    list-style: none;
}
.menu-itens a{
    text-decoration: none;
}







